.header{
    border-bottom: 1px solid var(--input-border);
    position: relative;
    text-align: center;
}
.header.header__bg{
    background-image: url(../imgs/bg_head.jpg);
    background-attachment: fixed;
    background-size: cover;
    color:white;
    min-height: 250px;
    border-bottom: 0;
}


.header--content{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.header--content.header__h100{
    height: 100vh;
}
.header--content.header--content__dark-overlay{
    background-color: rgba(0, 0, 0, 0.6);
}

.nav{
    list-style: none;
    font-size: 1em;
    display: flex;
    grid-gap: 15px;
}

.nav li{margin-bottom: 0;}
.nav .btn{
    font-size: 1.2em;
    transition: padding .3s ease;
    margin: 0;
}
.nav .btn:hover{
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 636px){
    .nav{
        flex-direction: column;
    }
}

.header .nav .fa-twitch{
    color: #6441a5
}
.header .nav .fa-vk{
    color: #2787F5
}

main{
    width: 945px;
    margin: 15px auto;

    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    grid-gap: 15px;
}

@media screen and (max-width:974px) {
    main{
        width: 705px;
        grid-template-columns: 225px 225px 225px;
    }
}
@media screen and (max-width:734px) {
    main{
        width: 465px;
        grid-template-columns: 225px 225px;
    }
}
@media screen and (max-width:494px) {
    main{    
        width: 90%;
        grid-template-columns: 100%;
    }
}

.project-item{
    border: 1px solid var(--input-border);
}
.project-item--head{
    padding: .5em 1em .2em;
    border-bottom: 1px solid var(--input-border);
}
.project-item--image{
    display: block;
    width: 100%;
    aspect-ratio: 1;
}
.project-item--footer{
    padding: .2em 1em .5em;
    border-top: 1px solid var(--input-border);
}

.project-item--head h2{
    margin: 0;
    font-size: 1.5em;
}

.btn.btn__square{
    aspect-ratio: 1;
}

.project-item--footer .btn{
    padding: .3em;
    height: 32px;
    min-width: 32px;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.badges-panel{
    margin-bottom: .5em;
}
.badge{
    margin-bottom: .1em;
    cursor: default;
}

.badge.vk{
    background-color: #2787F5
}


.btn.disabled{
    cursor:not-allowed;
    background-color: var(--muted);
    border-color: var(--muted);
}
